<script setup lang="ts">
import { ref } from "vue";

const tab = ref("one");
const drink = ref([
  {
    name: "คาปูชิโน่ 80.-",
    price: 80,
    img: "./cappuccino.jpg",
  },
  {
    name: "มอคค่า 80.-",
    price: 80,
    img: "./mocha.jpg",
  },
  {
    name: "ลาเต้เย็น 80.-",
    price: 80,
    img: "./latte.jpg",
  },
  {
    name: "เอสเปรสโซ่ 80.-",
    price: 80,
    img: "./es.jpeg",
  },
  {
    name: "ช็อคโก้เย็น 80.-",
    price: 80,
    img: "https://bakingmischief.com/wp-content/uploads/2019/05/iced-mocha-image-square.jpg",
  },
  {
    name: "อเมริกาโน่ 80.-",
    price: 80,
    img: "./americano.jpg",
  },
  {
    name: "โกโก้เย็น 80.-",
    price: 80,
    img: "./choco.jpg",
  },
  {
    name: "ชามะนาว 70.-",
    price: 70,
    img: "./chamanawww.jpg",
  },
  {
    name: "บราวน์ชูก้า 85.-",
    price: 85,
    img: "https://www.foxyfolksy.com/wp-content/uploads/2020/06/tiger-sugar-milk-drink.jpg",
  },
  {
    name: "ช็อคโกร้อน 70.-",
    price: 70,
    img: "https://onedishkitchen.com/wp-content/uploads/2017/12/hot-chocolate-one-dish-kitchen-square-1200-250x250.jpg",
  },
  {
    name: "ชาไทย 70.-",
    price: 70,
    img: "./chathai.png",
  },
  {
    name: "ชาเขียว 80.-",
    price: 80,
    img: "./greentea.jpg",
  },
  {
    name: "สมูทตี้ 90.-",
    price: 90,
    img: "./smooth.jpg",
  },
  {
    name: "เฟรชโคโค่นัท 75.-",
    price: 75,
    img: "./cappuccino.jpg",
  },
  {
    name: "นมสดเย็น 70.-",
    price: 70,
    img: "https://www.thehealthymaven.com/wp-content/uploads/2017/05/Iced-Golden-Milk-Latte-FI.jpg",
  },
  {
    name: "สตอเบอรี่ชีสเค้กปั่น 70.-",
    price: 70,
    img: "./staw.jpg",
  },
]);

const sweet = ref([
  {
    name: "ช็อคโก้เค้ก 45.-",
    price: 45,
    img: "./222.jpg",
  },
  { name: "ครัวซอง 30.-", price: 30, img: "./333.jpg" },
  { name: "บานอฟฟี่ 55.-", price: 55, img: "./444.jpg" },
  { name: "แพนเค้ก 75.-", price: 75, img: "./pancake.jpg" },
  { name: "ครอฟเฟิล 30.-", price: 30, img: "./crof.jpg" },
  {
    name: "ทาร์ตไข่ 35.-",
    price: 35,
    img: "./tart.jpg",
  },
  {
    name: "วาฟเฟิล 75.-",
    price: 75,
    img: "./666.jpg",
  },
  { name: "ช็อคโก้มาก้า 80.-", price: 80, img: "./777.jpg" },
  { name: "ฮันนี่โทสต์ 80.-", price: 80, img: "./ht.jpg" },
  { name: "ช็อคโกลาวา 45.-", price: 45, img: "./lava.jpeg" },
  {
    name: "บราวน์นี่ 45.-",
    price: 45,
    img: "./888.jpg",
  },
  { name: "คุกกี้ 35.-", price: 35, img: "./999.jpg" },
  { name: "พุดดิ้ง 70.-", price: 70, img: "./000.jpg" },
  { name: "ชีสเค้ก 45.-", price: 45, img: "./ck.jpg" },
  {
    name: "เครปเค้ก 40.-",
    price: 40,
    img: "https://www.sidechef.com/article/ad8926ad-812d-4cac-b249-6cba45dc3dad.jpg?d=1408x1120",
  },
  {
    name: "บิงซู 85.-",
    price: 80,
    img: "./bingsu.jpg",
  },
]);

const food = ref([
  {
    name: "สปาเก็ตตี้ 150.-",
    price: 150,
    src: "./สปกตe.jpg",
  },
  {
    name: "คาโบน่าร่า 180.-",
    price: 180,
    src: "./คบนรe.jpg",
  },
  {
    name: "ข้าวผัด 89.-",
    price: 89,
    src: "./หหหe.jpg",
  },
  {
    name: "สตูว์ 159.-",
    price: 159,
    src: "./สตนe.jpg",
  },
  {
    name: "มันบด 79.-",
    price: 79,
    src: "./มบe.jpg",
  },
  {
    name: "พิซซ่า 189.-",
    price: 189,
    src: "./พิซส่าe.jpg",
  },
  {
    name: "ผักโขม 120.-",
    price: 120,
    src: "./ผขขขe.jpg",
  },
  {
    name: "แซนวิช 80.-",
    price: 80,
    src: "./swwwwe.jpg",
  },
  {
    name: "สเต็กเนื้อ 220.-",
    price: 220,
    src: "./สนตe.jpg",
  },
  {
    name: "สลัดกุ้ง 99.-",
    price: 159,
    src: "./สดe.jpg",
  },
  {
    name: "เบอร์เกอร์ 99.-",
    price: 99,
    src: "./บกe.jpg",
  },
  {
    name: "เบเนดิกต์ 120.-",
    price: 120,
    src: "./ขบนดe.jpg",
  },
  {
    name: "ไข่เจียว 99.-",
    price: 99,
    src: "./อลe.jpg",
  },
  {
    name: "สเต็กปลา 129.-",
    price: 129,
    src: "./สตปe.jpg",
  },
  {
    name: "มัคแอนด์ชีส 119.-",
    price: 119,
    src: "./มคe.jpg",
  },
  {
    name: "พอร์คชอป 179.-",
    price: 179,
    src: "./พคe.jpg",
  },
]);
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12" offset="3" class="mx-auto">
        <v-card height="auto" width="100%">
          <v-tabs v-model="tab" bg-color="#725136" height="50px">
            <v-tab value="one" color="#FFFFFF">เครื่องดื่ม</v-tab>
            <v-tab value="two" color="#FFFFFF">ของหวาน</v-tab>
            <v-tab value="three" color="#FFFFFF">อาหาร</v-tab>
          </v-tabs>

          <v-card style="background: #ad9472" height="570">
            <v-window v-model="tab">
              <v-window-item value="one">
                <v-container style="height: 75vh; overflow: auto" fluid>
                  <v-row>
                    <v-col v-for="(item, index) of drink" :key="index" cols="3">
                      <v-table style="background: #ad9472">
                        <thead>
                          <th>
                            <v-card
                              style="background: #e9e3d0"
                              height="180"
                              width="180"
                            >
                              <v-card-title
                                class="text-center text-#493423"
                                style="font-size: small"
                              >
                                {{ item.name }}
                              </v-card-title>
                              <v-btn height="180px" width="180"
                                ><v-img
                                  :src="item.img"
                                  width="250"
                                  height="180px"
                                  class="justify-center"
                                ></v-img>
                              </v-btn>
                            </v-card>
                          </th>
                        </thead>
                      </v-table>
                    </v-col>
                  </v-row>
                </v-container>
              </v-window-item>

              <v-window-item value="two">
                <v-container style="height: 75vh; overflow: auto" fluid>
                  <v-row>
                    <v-col v-for="(item, index) of sweet" :key="index" cols="3">
                      <v-table style="background: #ad9472">
                        <thead>
                          <th>
                            <v-card
                              style="background: #e9e3d0"
                              height="180"
                              width="180"
                            >
                              <v-card-title
                                class="text-center text-#493423"
                                style="font-size: small"
                              >
                                {{ item.name }}
                              </v-card-title>
                              <v-btn height="180px" width="180"
                                ><v-img
                                  :src="item.img"
                                  width="250"
                                  height="180px"
                                  class="justify-center"
                                ></v-img>
                              </v-btn>
                            </v-card>
                          </th>
                        </thead>
                      </v-table>
                    </v-col>
                  </v-row>
                </v-container>
              </v-window-item>

              <v-window-item value="three">
                <v-container style="height: 75vh; overflow: auto" fluid>
                  <v-row>
                    <v-col v-for="(item, index) of food" :key="index" cols="3">
                      <v-table style="background: #ad9472">
                        <thead>
                          <th>
                            <v-card
                              style="background: #e9e3d0"
                              height="180"
                              width="180"
                            >
                              <v-card-title
                                class="text-center text-#493423"
                                style="font-size: small"
                              >
                                {{ item.name }}
                              </v-card-title>
                              <v-btn height="180px" width="180"
                                ><v-img
                                  :src="item.src"
                                  width="250"
                                  height="180px"
                                  class="justify-center"
                                ></v-img>
                              </v-btn>
                            </v-card>
                          </th>
                        </thead>
                      </v-table>
                    </v-col>
                  </v-row>
                </v-container>
              </v-window-item>
            </v-window>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
