<script setup lang="ts">
import { ref } from "vue";
import { useUserStore } from "@/stores/user";
import {
  mdiBackspace,
  mdiCheckBold,
  mdiCloseBox,
  mdiNumeric0,
  mdiNumeric1,
  mdiNumeric2,
  mdiNumeric3,
  mdiNumeric4,
  mdiNumeric5,
  mdiNumeric6,
  mdiNumeric7,
  mdiNumeric8,
  mdiNumeric9,
} from "@mdi/js";
const userStore = useUserStore();
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="userStore.dialog1" persistent width="400" height="auto">
      <v-card color="#DFD4BA">
        <v-container>
          <v-card-text class="my-4 text-center text-h5"
            >กรอกเบอร์โทรศัพท์สมาชิก</v-card-text
          >
          <v-row>
            <v-col>
              <v-text-field label="0xx-xxx-xxxx"></v-text-field>
            </v-col>
            <v-col cols="3">
              <v-btn
                :icon="mdiBackspace"
                color="red"
                @click="userStore.dialog1 = false"
              >
              </v-btn>
            </v-col>
          </v-row>
          <v-row justify="space-between" class="text-center">
            <v-col>
              <v-btn :icon="mdiNumeric1" color="#AD9472"></v-btn>
            </v-col>
            <v-col>
              <v-btn :icon="mdiNumeric2" color="#AD9472"></v-btn>
            </v-col>
            <v-col>
              <v-btn :icon="mdiNumeric3" color="#AD9472"></v-btn>
            </v-col>
          </v-row>
          <v-row justify="space-between" class="text-center">
            <v-col>
              <v-btn :icon="mdiNumeric4" color="#AD9472"></v-btn>
            </v-col>
            <v-col>
              <v-btn :icon="mdiNumeric5" color="#AD9472"></v-btn>
            </v-col>
            <v-col>
              <v-btn :icon="mdiNumeric6" color="#AD9472"></v-btn>
            </v-col>
          </v-row>
          <v-row justify="space-between" class="text-center">
            <v-col>
              <v-btn :icon="mdiNumeric7" color="#AD9472"></v-btn>
            </v-col>
            <v-col>
              <v-btn :icon="mdiNumeric8" color="#AD9472"></v-btn>
            </v-col>
            <v-col>
              <v-btn :icon="mdiNumeric9" color="#AD9472"></v-btn>
            </v-col>
          </v-row>
          <v-row justify="space-between" class="text-center">
            <v-col>
              <v-btn
                :icon="mdiCloseBox"
                color="red"
                @click="userStore.dialog1 = false"
              >
              </v-btn>
            </v-col>
            <v-col>
              <v-btn :icon="mdiNumeric0" color="#AD9472"></v-btn>
            </v-col>
            <v-col>
              <v-btn
                :icon="mdiCheckBold"
                color="green"
                @click="userStore.dialog1 = false"
              >
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>
