<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import { mdiCheck, mdiDelete } from "@mdi/js";
const userStore = useUserStore();

const addDailog = () => {
  userStore.dialog1 = true;
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col class="mx-auto">
        <v-hover v-slot="{ isHovering, props }" disabled>
          <v-card
            :elevation="isHovering ? 12 : 2"
            height="auto"
            width="420"
            v-bind="props"
          >
            <v-card-text class="my-4 text-center text-h4">
              รายการสินค้า
            </v-card-text>
            <v-divider class="mx-4 mb-1"></v-divider>

            <v-table>
              <thead>
                <tr>
                  <th class="text-left">ชื่อสินค้า</th>
                  <th></th>
                  <th class="text-left">จำนวน</th>
                  <th></th>
                  <th class="text-left">ราคา</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
            </v-table>
            <v-container>
              <v-card height="335">
                <v-table height="335">
                  <thead>
                    <tr>
                      <th class="text-left">โกโก้เย็น</th>
                      <th>
                        <v-btn variant="plain" size="x-small">-</v-btn>
                      </th>
                      <th class="text-left">1</th>
                      <th>
                        <v-btn variant="plain" size="x-small">+</v-btn>
                      </th>
                      <th class="text-left">80.00</th>
                      <th>
                        <v-btn
                          color="black"
                          :icon="mdiDelete"
                          size="x-small"
                        ></v-btn>
                      </th>
                    </tr>
                    <tr>
                      <th class="text-left">โกโก้เย็น</th>
                      <th>
                        <v-btn variant="plain" size="x-small">-</v-btn>
                      </th>
                      <th class="text-left">1</th>
                      <th>
                        <v-btn variant="plain" size="x-small">+</v-btn>
                      </th>
                      <th class="text-left">80.00</th>
                      <th>
                        <v-btn
                          color="black"
                          :icon="mdiDelete"
                          size="x-small"
                        ></v-btn>
                      </th>
                    </tr>
                    <tr>
                      <th class="text-left">โกโก้เย็น</th>
                      <th>
                        <v-btn variant="plain" size="x-small">-</v-btn>
                      </th>
                      <th class="text-left">1</th>
                      <th>
                        <v-btn variant="plain" size="x-small">+</v-btn>
                      </th>
                      <th class="text-left">80.00</th>
                      <th>
                        <v-btn
                          color="black"
                          :icon="mdiDelete"
                          size="x-small"
                        ></v-btn>
                      </th>
                    </tr>
                    <tr>
                      <th class="text-left">โกโก้เย็น</th>
                      <th>
                        <v-btn variant="plain" size="x-small">-</v-btn>
                      </th>
                      <th class="text-left">1</th>
                      <th>
                        <v-btn variant="plain" size="x-small">+</v-btn>
                      </th>
                      <th class="text-left">80.00</th>
                      <th>
                        <v-btn
                          color="black"
                          :icon="mdiDelete"
                          size="x-small"
                        ></v-btn>
                      </th>
                    </tr>
                    <tr>
                      <th class="text-left">โกโก้เย็น</th>
                      <th>
                        <v-btn variant="plain" size="x-small">-</v-btn>
                      </th>
                      <th class="text-left">1</th>
                      <th>
                        <v-btn variant="plain" size="x-small">+</v-btn>
                      </th>
                      <th class="text-left">80.00</th>
                      <th>
                        <v-btn
                          color="black"
                          :icon="mdiDelete"
                          size="x-small"
                        ></v-btn>
                      </th>
                    </tr>
                    <tr>
                      <th class="text-left">โกโก้เย็น</th>
                      <th>
                        <v-btn variant="plain" size="x-small">-</v-btn>
                      </th>
                      <th class="text-left">1</th>
                      <th>
                        <v-btn variant="plain" size="x-small">+</v-btn>
                      </th>
                      <th class="text-left">80.00</th>
                      <th>
                        <v-btn
                          color="black"
                          :icon="mdiDelete"
                          size="x-small"
                        ></v-btn>
                      </th>
                    </tr>
                    <tr>
                      <th class="text-left">โกโก้เย็น</th>
                      <th>
                        <v-btn variant="plain" size="x-small">-</v-btn>
                      </th>
                      <th class="text-left">1</th>
                      <th>
                        <v-btn variant="plain" size="x-small">+</v-btn>
                      </th>
                      <th class="text-left">80.00</th>
                      <th>
                        <v-btn
                          color="black"
                          :icon="mdiDelete"
                          size="x-small"
                        ></v-btn>
                      </th>
                    </tr>
                    <tr>
                      <th class="text-left">โกโก้เย็น</th>
                      <th>
                        <v-btn variant="plain" size="x-small">-</v-btn>
                      </th>
                      <th class="text-left">1</th>
                      <th>
                        <v-btn variant="plain" size="x-small">+</v-btn>
                      </th>
                      <th class="text-left">80.00</th>
                      <th>
                        <v-btn
                          color="black"
                          :icon="mdiDelete"
                          size="x-small"
                        ></v-btn>
                      </th>
                    </tr>
                  </thead>
                </v-table>
              </v-card>
            </v-container>
            <div class="pa-2">
              <div
                class="d-flex justify-space-around align-center flex-column flex-md-row fill-height"
              >
                <v-btn color="black" :icon="mdiDelete" size="x-small"></v-btn>
                <v-btn color="#9CB995" class="font-weight-black">
                  00.00
                  <v-icon :icon="mdiCheck"></v-icon>
                </v-btn>
              </div>
            </div>
            <v-divider class="mx-4 mb-1"></v-divider>

            <v-card-actions>
              <v-footer class="bg-grey-lighten">
                <v-btn variant="flat" color="#9CB995" class="font-weight-black">
                  เงินสด
                </v-btn>
                <v-btn variant="flat" color="#9CB995" class="font-weight-black">
                  เงินโอน
                </v-btn>
                <v-btn variant="flat" color="red" class="font-weight-white">
                  ส่วนลด %
                </v-btn>
                <v-btn
                  variant="flat"
                  color="grey"
                  class="font-weight-white"
                  @click="addDailog"
                >
                  สมาชิก
                </v-btn>
              </v-footer>
            </v-card-actions>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
