<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();

const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    loginStore.login(loginName.value, password.value);
  }
};
const reset = () => {
  form.value?.reset();
};
</script>

<template>
  <v-app>
    <v-main>
      <v-parallax
        src="https://i.pinimg.com/736x/34/8f/67/348f672d56d85172eba5a786ade99f63.jpg"
        height="960"
      >
        <v-card width="400px" class="mx-auto">
          <v-card>
            <v-parallax
              src="https://i.pinimg.com/736x/34/8f/67/348f672d56d85172eba5a786ade99f63.jpg"
              height="500"
            >
              <v-col>
                <v-avatar size="80">
                  <v-img
                    class="mx-auto"
                    src="https://media.discordapp.net/attachments/1054391933381918743/1062080468679413810/image.png"
                  >
                  </v-img>
                </v-avatar>
              </v-col>
            </v-parallax>
          </v-card>

          <v-card-title primary-title class="text-center text-h6 bg-blue-grey"
            >LOGIN</v-card-title
          >
          <v-card-title> </v-card-title>
          <v-card-text
            ><v-form ref="form" v-model="valid">
              <v-text-field
                label="Login Name"
                v-model="loginName"
                :rules="[
                  (v) => !!v || 'Login Name is required',
                  (v) =>
                    v.length >= 4 ||
                    'Name must be more than or equal 4 characters',
                ]"
                required
              ></v-text-field>
              <v-text-field
                label="Password"
                type="password"
                v-model="password"
                :rules="[
                  (v) => !!v || 'Password is required',
                  (v) =>
                    v.length >= 8 ||
                    'Password must be more than or equal 8 characters',
                ]"
                required
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn variant="tonal" color="#9CB995" @click="login">Login</v-btn>
            <v-btn variant="tonal" color="#B23A3A" @click="reset">Clear</v-btn>
          </v-card-actions>
        </v-card>
      </v-parallax>
    </v-main>
  </v-app>
</template>
