<script setup lang="ts">
import { ref } from "vue";
import {
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiFaceWomanShimmerOutline,
  mdiCartVariant,
  mdiFolderAccountOutline,
  mdiLogout,
} from "@mdi/js";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();

const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}

const logout = () => {
  loginStore.logout();
};
</script>

<template>
  <v-app :theme="theme">
    <v-app-bar color="#AD9472">
      <v-avatar
        image="https://media.discordapp.net/attachments/1054391933381918743/1061924883145166888/image.png"
        size="66"
      ></v-avatar>
      <h1 class="text-white">รายการสินค้า</h1>
      <v-spacer></v-spacer>
      <v-list style="background-color: #ad9472">
        <v-list-item
          class="text-white"
          prepend-avatar="https://i.pinimg.com/originals/82/0e/3f/820e3ff746d061477c8ff08a7c319b6a.jpg"
          title="Forddy Ranger"
          subtitle="Sales Officer"
        ></v-list-item>
      </v-list>

      <v-btn
        :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight"
        @click="onClick"
      ></v-btn>
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list bg-color="#725136">
        <v-list-item
          prepend-avatar="https://i.pinimg.com/originals/82/0e/3f/820e3ff746d061477c8ff08a7c319b6a.jpg"
          :title="loginStore.loginName"
          subtitle="admin@gmail.com"
          class="text-white"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav color="#725136">
        <v-list-item
          :prepend-icon="mdiFolderAccountOutline"
          title="USERS"
          value="users"
          to="/user"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiCartVariant"
          title="MENU"
          value="starred"
          to="/starred"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiFaceWomanShimmerOutline"
          title="MEMBER"
          value="shared"
        ></v-list-item>
      </v-list>

      <template v-slot:append>
        <v-list density="compact" nav
          ><v-list-item
            :prepend-icon="mdiLogout"
            title="LOGOUT"
            value="starred"
            to="/starred"
            @click="logout"
          ></v-list-item
        ></v-list>
      </template>
    </v-navigation-drawer>
    <v-main>
      <v-container>
        <RouterView></RouterView>
      </v-container>
    </v-main>
  </v-app>
</template>
