<script setup lang="ts">
import MenuUser from "@/components/menu/MenuUser.vue";
import MenuNumber from "@/components/menu/MenuNumber.vue";
</script>

<template>
  <MenuUser></MenuUser>
  <MenuNumber></MenuNumber>
</template>
